#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* LoginPage.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.login-card, .single-item {
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 100%;
}

.login-title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box; /* Ensures input does not exceed parent container */
}
.btn {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin: 0px 10px;
}
.btn.primary-btn {
  background-color: #007bff;
  color: white;
}

.btn.alert-btn{
  background-color: red;
  border-color: red;
  color: white;
}

.login-button {
  width: 100%;
}


.primary-btn:hover {
  background-color: #0056b3;
}

.login-success h2 {
  text-align: center;
  color: #28a745;
}

@media (max-width: 768px) {
  .login-card {
    padding: 15px;
  }

  .login-title {
    font-size: 1.5rem;
  }
}

.error-message {
  color: red;
}

p{
  margin: 0px;
}
.items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  overflow: hidden;
  width: 500px;
  transition: box-shadow 0.3s ease;
  margin: 20px 0px;
  cursor: pointer;
  text-align: left;
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}

.card-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
  margin: 10px;
}

.card-details {
  padding: 10px;
  width: 100%;
}

.card-details h3 {
  margin: 0;
  font-size: 1.2rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  cursor: not-allowed;
  background-color: #f1f1f1;
}

.pagination button:hover:not(:disabled) {
  background-color: #f0f0f0;
}

.pagination span {
  font-size: 1rem;
}
.card-actions{
  text-align: right;
}
.single-item .card-actions{
  text-align: center;
}
